<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="DbConnectionStr" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\FYP\projectprogressreport20160415\integrateprogramv4\IntegrateProgramv4\ServeDistribution.mdf;Integrated Security=True" />
    <add key="PatConsolePath" value="/usr/bin/mono /home/sports/hdd2/huangfy/PAT351/PAT3.Console.exe" />
    <add key="ModelTemplateDirectory" value="/home/sports/hdd2/huangfy/Temp/" />
    <add key="PcspOutputDirectory" value="/home/sports/hdd2/huangfy/Temp/" />
    <add key="UseLocalData" value="false" />
    <add key="LocalDataDirectory" value="/home/sports/hdd2/huangfy/charting/" />
    <add key="LogDirectory" value="/home/sports/hdd2/huangfy/Temp/" />
  </appSettings>
  <connectionStrings>
    <add name="LocalDB" connectionString="Data Source=.\SQLEXPRESS;database=TennisData;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TennisDataLocal" connectionString="Data Source=.\SQLEXPRESS;database=TennisData;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
