<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="DbConnectionStr" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\FYP\projectprogressreport20160415\integrateprogramv4\IntegrateProgramv4\ServeDistribution.mdf;Integrated Security=True" />
    <add key="PatConsolePath" value="D:\FYP\PAT351\PAT3.Console.exe" />
    <add key="ModelTemplateDirectory" value="D:\Temp\" />
    <add key="PcspOutputDirectory" value="D:\Temp\" />
    <add key="UseLocalData" value="true" />
    <add key="LocalDataDirectory" value="D:\FYP\modified_jk\charting\" />
    <add key="LogDirectory" value="D:\Temp\" />
  </appSettings>
  <connectionStrings>
    <add name="LocalDB" connectionString="Data Source=.\SQLEXPRESS;database=TennisData;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TennisDataLocal" connectionString="Data Source=.\SQLEXPRESS;database=TennisData;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>